<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="com.mindtree.springfive.*"></context:component-scan>
    
    <bean id="objOne" class="com.mindtree.springfive.beans.Customer">
        <property name="customerName" value="Navneet Sharma" />
        <property name="customerId" value="#{2}" />
        <property name="secondHand" value="#{false}" />
        <property name="prodPrice" value="#{27690.0}" />
        <property name="prodName" value="#{'Samsung'}" />
    </bean>

    <bean id="objTwo" class="com.mindtree.springfive.beans.Address">
        <property name="cityName" value="Mumbai" />
        <property name="buildNo" value="#{2}" />
        <property name="pinCode" value="#{123456}" />
    </bean>

    <bean id="objThree" class="com.mindtree.springfive.beans.CustomerReference">
        <property name="customerName" value="Navneet Sharma" />
        <property name="customerId" value="#{2}" />
        <property name="customerAddress" value="#{objTwo}" />
    </bean>

    <bean id="objFour" class="com.mindtree.springfive.beans.CustomerReference">
        <property name="customerName" value="#{objThree.customerName.toUpperCase()}" />
        <property name="customerId" value="#{2}" />
        <property name="customerAddress" value="#{objTwo}" />
    </bean>

    <bean id="objFive" class="com.mindtree.springfive.beans.Customer">
        <property name="customerName" value="Navneet Sharma" />
        <property name="customerId" value="#{2}" />
        <property name="prodPrice" value="#{276900.0*12.50}" />
        <property name="prodName" value="#{'Samsung'}" />
        <property name="secondHand" value="#{objFive.prodPrice>24000}" />
    </bean>
</beans>