<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="objOne" class="com.mindtree.springfive.beans.Student" abstract="true">
        <property name="rollNo" value="1" />
        <property name="studentName" value="Navneet Sharma"/>
    </bean>
    <bean id="objTwo" class="com.mindtree.springfive.beans.EnggStudent" parent="objOne"
          p:branchCode="CS01" p:collegeCode="ACEIT014">
    </bean>
    <bean id="objThree" class="com.mindtree.springfive.beans.EnggStudent"
          p:rollNo="2" p:studentName="Abhishek Gupta" 
          p:branchCode="CS01" p:collegeCode="ACEIT014">
    </bean>    
</beans>