<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">    
    
    <bean id="objOne" class="com.mindtree.springfive.beans.Car" scope="prototype">
        <property name="chesis_number" value="eng2012" />
        <property name="color" value="baker's chocolate" />
        <property name="fuel_type" value="petrol" />
        <property name="average" value="12.50" />
        <property name="price" value="643800" />
    </bean>

</beans>