<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="objOne" class="com.mindtree.springfive.beans.Car">
        <property name="chesis_number" value="eng2012" />
        <property name="color" value="baker's chocolate" />
        <property name="fuel_type" value="petrol" />
        <property name="average" value="12.50" />
        <property name="price" value="643800" />
    </bean>
    
    <bean id="objTwo" class="com.mindtree.springfive.beans.Car">
        <constructor-arg value="eng003"></constructor-arg>
        <constructor-arg value="green"></constructor-arg>
        <constructor-arg value="petrol"></constructor-arg>
        <constructor-arg value="678900"></constructor-arg>
        <constructor-arg value="12"></constructor-arg>
    </bean>

    <bean id="objThree" class="com.mindtree.springfive.beans.Car">
        <constructor-arg value="petrol" index="2"></constructor-arg>
        <constructor-arg value="eng004" index="0"></constructor-arg>
        <constructor-arg value="15" index="4"></constructor-arg>
        <constructor-arg value="yellow" index="1"></constructor-arg>
        <constructor-arg value="700000" index="3"></constructor-arg>
    </bean>
    <bean id="objFour" class="com.mindtree.springfive.beans.Car"
          p:chesis_number="eng007" p:color="blue"
          p:fuel_type="petrol" p:average="12.50" p:price="750000">
    </bean>

</beans>